doctype html
loading-screen([loading]="loading")
navbar
section([@fadeIn])
    .container
        form((submit)="form.valid && submit($event)", #form="ngForm", id="ngForm")
            br
            br
            .row.text-center
            br
            .row
                .col-xs-12.col-md-6.col-md-offset-3.form-container(style="padding:30px")
                    .text-center
                        img.img-fluid(src="assets/img/brainrace.png", style="width:70%")                                    
                    h1.primary-color-text Accede a tu cuenta
                    br
                    .input-error {{errorMessage}}
                    label.gotham-light.bold.primary-color-text(for="email") Correo electrónico
                    .input-group.col-xs-12
                        input.form-control#email(
                            type='email', 
                            name="email", 
                            aria-label='email',
                            [(ngModel)]='email', 
                            #emailInput="ngModel",
                            required, email)
                        label.input-error(*ngIf="form.submitted && emailInput.errors?.required") Este campo es obligatorio
                        label.input-error(*ngIf="form.submitted && emailInput.errors?.email") Debes introducir un email válido
                    
                    br
                    label.gotham-light.bold.primary-color-text(for="idea") Contraseña
                    .input-group.col-xs-12
                        input.form-control#password(
                            type='password', 
                            name="password", 
                            aria-label='password',
                            #passwordInput="ngModel",
                            [(ngModel)]="password", 
                            required)
                        label.input-error(*ngIf="form.submitted && passwordInput.errors?.required") Este campo es obligatorio
                    br
                    a.primary-color-text([routerLink]="['/recuperar-contrasena']") ¿Olvidaste tu contraseña?
                   
                    .space
                    button.col-xs-12.btn.btn-primary.btn-large(type="submit") Participantes
                    .space(style="margin-bottom:80px;")