doctype html
loading-screen([loading]="loading")
navbar
section
    .container
        form((submit)="form.valid && submit($event)", #form="ngForm", id="ngForm")
            br
            br
            .row.text-center
            br
            .row
                .col-xs-12.col-md-6.col-md-offset-3.form-container(style="padding:30px", *ngIf="!restored", [@fadeIn]="fadeIn")
                    .text-center
                        img.img-fluid(src="assets/img/brainrace.png", style="width:70%")                                    
                    h1.primary-color-text Restablecer contraseña
                    p.primary-color-text Ingresa tu correo electrónico y define una nueva contraseña de acceso.
                    .input-error {{errorMessage}}
                    label.gotham-light.bold.primary-color-text(for="email") Correo electrónico
                    .input-group.col-xs-12
                        input.form-control#email(
                            type='email', 
                            name="email", 
                            aria-label='email',
                            [(ngModel)]='email', 
                            #emailInput="ngModel",
                            required, email)
                        label.input-error(*ngIf="form.submitted && emailInput.errors?.required") Este campo es obligatorio
                        label.input-error(*ngIf="form.submitted && emailInput.errors?.email") Debes introducir un email válido
                    br
                    label.gotham-light.bold.primary-color-text(for="password") Contraseña
                    .input-group.col-xs-12
                        input.form-control#password(
                            type='password', 
                            name="password", 
                            aria-label='password',
                            #passwordInput="ngModel",
                            [(ngModel)]="password", 
                            required)
                        label.input-error(*ngIf="form.submitted && passwordInput.errors?.required") Este campo es obligatorio
                        
                    br
                    label.gotham-light.bold.primary-color-text(for="confirm_password") Confirmar contraseña
                    .input-group.col-xs-12
                        input.form-control#confirm_password(
                            type='password', 
                            name="confirm_password", 
                            aria-label='confirm_password', 
                            [(ngModel)]="confirm_password",
                            #confirmPasswordInput="ngModel",
                            [equalTo]="passwordInput",
                            required)
                        label.input-error(*ngIf="form.submitted && confirmPasswordInput.errors?.required") Este campo es obligatorio
                        label.input-error(*ngIf="form.submitted && confirmPasswordInput.errors?.equalTo") Las contraseñas no coinciden
                    .space
                    button.col-xs-12.btn.btn-primary.btn-large(type="submit") Enviar
                    .space(style="margin-bottom:80px;")
                .col-xs-12.col-md-6.col-md-offset-3.form-container(style="padding:30px", *ngIf="restored", [@fadeIn]="fadeIn")
                    .row.text-center
                        div
                            img(src="assets/img/success.png", [@bounceInUp]="bounceInUp", width="120")
                    br
            
                    .row
                        p.primary-color-text.text-center( [@bounceInUp]="bounceInUp") La contraseña ha sido actualizada con éxito. Ahora puedes iniciar sesión nuevamente.

                    